body{
  margin-top:2%;
  background: url("../img/background-new.png") no-repeat center center fixed; 
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align:left;
}

#intro-text{
  font-size: 48px;
  color: rgb(89,89,89);
  font-family: "Arial Rounded MT Bold";
  font-weight: bold;

}
#email{
  font-size: 19px;
  width:100%;

}

#home{
  margin-top: 7%;
  margin-left:5%;

}

.has-feedback .form-control {
  padding:20px;
}
.form-group  {
  padding:20px;
  display:inline-block;
}
.ss-item {
display:inline-block;
}

.navbar{
  background-color: transparent;
  border-bottom:transparent;
  padding: 1% 0;
  margin-top:2%;
  margin-left:4%;
}
.navbar-brand{
  min-height:55px;
  padding: 0 15px 5px;
}
#logo{
  max-height:100px;
  max-width:200px;
}
.form-group {
  border-radius:12px;
  text-indent: 12px;
}



#computer-image{
      vertical-align: top;
      height:370px;
}
#texti{
  vertical-align: middle;
  margin-top:5%;


}

#ss-submit{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:40px;
  font-size:18px;
  padding:0 10px;
  cursor:pointer;
  margin-left:1%
  transition:800ms ease all;
  outline:none;
  /*TO REMOVE*/
  margin:0;
}
#ss-submit:hover{
  background:#fff;
  color:#1AAB8A;
}
#ss-submit:before,#ss-submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
#ss-submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
#ss-submit:hover:before,#ss-submit:hover:after{
  width:100%;
  transition:800ms ease all;
}

form{
  margin-left:-18px;
}
/*styles for different media devices*/
/*for phones*/
@media screen and (max-width: 767px){
  body{
    margin-top: 30px;
    text-align: center;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  
 
  .form-group {
  border-radius:12px;
  text-indent: 12px;
  display:inline-block;

  } 
    
  #intro-text{
      width:100%;
      font-size: 30px;
      color: rgb(89,89,89);
      font-family: "Arial Rounded MT Bold";
      font-weight: bold;

  }
  #computer-image{
    width:0px;
    height:0px;
  }
  
  /*NEW ADDITION*/
  

  #email{
    width:200px;
    font-size:18px;
  }
}





/*for tablets*/
@media screen and (min-width: 768px) and (max-width: 991px){
  body{
    margin-top: 30px;
    text-align:center;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  
  #ss-submit{
  display: inline-block;
  width:100px; /*CHAGE IT*/
}
    .form-group {
    border-radius:12px;
    text-indent: 12px;
    display:inline-block;
  
  } 
  form{
  margin-left:-18px;
}

  
  #intro-text{
      width:100%;
      font-size: 34px;
      color: rgb(89,89,89);
      font-family: "Arial Rounded MT Bold";
      font-weight: bold;

  }
  #computer-image{
    width:0px;
    height:0px;
  }
  /*code for centering form*/
 

  #email{
  }
}

/*for small laptops*/
@media screen and (min-width: 992px) and (max-width: 1199px){
  body{
    margin-top: 30px;
    text-align:left;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  
  form{
  margin-left:-27px;
}
  
   .form-group {
  border-radius:12px;
  text-indent: 12px;
  display:inline-block;
  
  } 
    
  #intro-text{
      width:100%;
      font-size: 38px;
      color: rgb(89,89,89);
      font-family: "Arial Rounded MT Bold";
      font-weight: bold;

  }
 
  #ss-submit{
  display: inline-block;
}
    .form-group {
    border-radius:12px;
    text-indent: 12px;
    display:inline-block;
  
  } 
   /*NEW ADDITION*/
  
  #email{
    max-width:320px;
  }


}