body{
  margin-top:2%;
  background: url("../img/background-new.png") no-repeat center center fixed; 
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  text-align:left;
}

#intro-text{
  font-size: 48px;
  color: rgb(89,89,89);
  font-family: "Arial Rounded MT Bold";
  font-weight: bold;

}

#email{
  font-size: 18px;
  color: rgb(89,89,89);
  font-family: "Arial";
  width:76%;
  border-radius:12px;
  padding-top:8px;
  padding-bottom:8px;
  text-indent: 12px;


}
#home{
  margin-top: 13%;
  margin-left:5%;

}

.navbar{
  background-color: transparent;
  border-bottom:transparent;
  padding: 1% 0;
  margin-top:2%;
  margin-left:4%;
}
.navbar-brand{
  min-height:55px;
  padding: 0 15px 5px;
}
#logo{
  max-height:100px;
  max-width:200px;
}

.glyphicon{
    position: absolute;
    top: 0;
    right: 155px;
    font-size:20px;
    color:grey;
    margin-top:5px;
    border-radius:60%;
  border:1px solid grey;
}

#computer-image{
      vertical-align: top;
      height:370px;
}
#texti{
  vertical-align: middle;
  margin-top:5%;
}

/*for phones*/
@media screen and (max-width: 767px){
  body{
    margin-top: 30px;
    text-align: center;
    display: inline;
    float: none;
    background: none;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  #input-group{
    
    width:90%;


  }
  .glyphicon{
    position: absolute;
    top: 0;
    right: 70px;
}
#intro-text{
    width:100%;
    font-size: 30px;
    color: rgb(89,89,89);
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;

}

}
/*for tablets*/
@media screen and (min-width: 768px max-width: 991px){
  body{
    margin-top: 30px;
    text-align: center;
    display: inline;
    float: none;
    background: none;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  #input-group{
    
    width:90%;


  }
  .glyphicon{
    position: absolute;
    top: 0;
    right: 50px;
}
  #intro-text{
    width:100%;
    font-size: 30px;
    color: rgb(89,89,89);
    font-family: "Arial Rounded MT Bold";
    font-weight: bold;

}

}

/*for small laptops*/
@media screen and (min-width: 992px max-width: 1199px){
  body{
    margin-top: 30px;
    text-align: center;
    display: inline;
    float: none;
    background: none;
  }
  #logo{
    max-height:80px;
    max-width:150px;
  }
  #input-group{
    
    width:90%;


  }
  .glyphicon{
    position: absolute;
    top: 0;
    right: 50px;
}

}